body {
  font-family: "Helvetica";
}

.primary-col {
  color: #3c64b1;
}

.menu-label {
  font-size: 14px;
}

button {
  height: 42px;
}

.mt-24 {
  margin-top: 24px;
}

.pt-50 {
  padding: 50px 0;
}

.p-t-b-36 {
  padding: 36px 0;
}

.m-tb-100 {
  margin: 100px 0;
}

.banner {
  background-color: #f4f6fa;
}

.content-heading {
  font-size: 24px;
  font-weight: 700;
}

.content {
  color: #737b7d;
  font-size: 16px;
}

.parent-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-div {
  display: flex;
  flex: 1;
  justify-content: center;
  border-bottom: 1px solid #cbcccc;
}

.inner-div {
  display: flex;
  flex-direction: column;
  flex: 0.8;
}

.head {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 24px 0;
}
.logo {
  display: flex;
  flex: 0.2;
  color: #3c64b1;
  font-weight: 700;
}
.home {
  display: flex;
  flex: 0.6;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.login {
  display: flex;
  flex: 0.2;
  justify-content: flex-end;
}
.login2 {
  display: flex;
  flex: 0.3;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.login-txt {
  color: #3c64b1;
  font-weight: 700;
}

.banner-heading {
  font-size: 32px;
}

.banner-content {
  margin: 24px 0;
  color: #737b7d;
  font-size: 14px;
}

.feature-head {
  display: flex;
  justify-content: center;
  margin: 50px 0 24px 0;
}

.feature-head-txt {
  flex: 0.25;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.feature-content-head {
  font-weight: 700;
}

.feature-content {
  text-align: center;
}

.btn {
  color: white;
  background-color: #3c64b1;
  border: none;
  padding: 5px;
  width: 100px;
}
.btn1 {
  border: 1px solid #3c64b1;
  background-color: white;
  color: #3c64b1;
  padding: 0 12px;
}
.ready {
  /* background-color: #f4f6fa; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.black-bg {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  height: 50px;
}
.simply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0.55;
}
.grow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head2 {
  display: flex;
  flex: 1;
  justify-content: space-around;
}
.simply1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.3;
}
.blue-txt {
  color: #3c64b1;
  font-size: 12px;
  font-weight: 700;
  margin-top: 24px;
}
.icon-img {
  height: 24px;
  width: 24px;
}
.box {
  color: blue;
  border: 1px solid blue;
  flex: 0.5;
  border-radius: 8px;
}

.banner-section {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  row-gap: 12px;
}

.banner-page2 {
  display: flex;
  flex-direction: row;
  column-gap: 36px;
  justify-content: center;
  padding: 90px 0;
}

.img-text {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  row-gap: 12px;
  /* justify-content: center; */
}
.img-text1 {
  display: flex;
  flex-direction: row;
  column-gap: 36px;
  justify-content: space-between;
}
