ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  height: 150px;
  border: 1px solid gray;
  padding: 12px;
  overflow-y: scroll;
}
.bucket-row {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}

.btn-col {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  gap: 12px;
}

.buckets {
  flex: 0.2;
}

li.element {
  display: flex;
  height: 32px;
  align-items: center;
  margin-bottom: 8px;
  background-color: #f4f6fa;
  padding: 0 8px;
}

li:hover,
.active {
  display: flex;
  height: 32px;
  align-items: center;
  margin-bottom: 8px;
  padding-left: 8px;
  background-color: #3c64b1;
  cursor: pointer;
  color: white;
}

.text-center {
  text-align: center;
}

.folder-div {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  margin-top: 24px;
}

.folder-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.nested-folder-div {
  flex: 0.3;
}

.grid-parent {
  display: flex;
  justify-content: center;
}

.grid-div {
  display: flex;
  flex-wrap: wrap;
  flex: 0.5;
}

.grid-box {
  width: 30%;
  height: 100px;
  border: 1px solid black;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.parent-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.layout {
  flex: 1;
}
.head {
  display: flex;
  justify-content: center;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border-bottom: 1px solid #cbcccc;
  padding: 10px;
  color: #f4f6fa;
}

.pending_nav {
  text-decoration: none;
  font-size: 16px;
}

.active_nav {
  text-decoration: none;
  /* text-decoration: underline;
  text-decoration-color: rgb(164, 62, 7); */
  text-underline-offset: 8px;
  font-weight: 700;
  font-size: 20px;
  color: rgb(164, 62, 7);
}

.text-decor{
  text-decoration: none;
}

.header {
  /* background-color: #c4a208; */
  /* color: #f4f6fa; */
}
